{% extends "base.html" %}

{% block header_link %}{{index_href}}{% endblock %}

{% block title %}{{title|e}}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-12">
      <ol class = "breadcrumb">
         <li><a href = {{index_href}}>Главная</a></li>
         <li class = "active">{{title}}</li>
      </ol>
    </div>
    <div class="col-xs-12">
       <h3>{{title}}</h3>
       <hr>
    </div>
  </div>
  
  <div class="row row-content">
    <div class="col-xs-12 col-sm-10">
      {{content|safe}}
    </div>
  </div>
{% endblock %}