{% extends "base.html" %}
{% block head_sources %}
<link rel="icon" href="../../media/favicon.ico">
<!-- Bootstrap core CSS -->
<link href="../../css/bootstrap.min.css" rel="stylesheet">


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link href="../../css/ie10-viewport-bug-workaround.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="../../css/jumbotron.css" rel="stylesheet">
<link href="../../css/codehilite.css" rel="stylesheet">


<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]><script src="../../js/ie8-responsive-file-warning.js"></script><![endif]-->
<script src="../../js/ie-emulation-modes-warning.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="../../js/html5shiv.min.js"></script>
  <script src="../../js/respond.min.js"></script>
<![endif]-->
{% endblock %}
{% block header_link %}{{index_href}}{% endblock %}

{% block title %}{{title}}{% endblock %}

{% block content %}
  <ol class = "breadcrumb">
     <li><a href = {{index_href}}>Главная</a></li>
     <li class = "active">{{title}}</li>
  </ol>
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-8">
        <h2>{{title}}</h2>
        <p>{{content}}</p>
    </div>
{% endblock %}

{% block script_sources %}
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="../../js/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../../js/jquery.min.js"><\/script>')</script>
  <script src="../../js/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../../js/ie10-viewport-bug-workaround.js"></script>
{% endblock %}