{% extends "base.html" %}

{% block title %}Энциклопедия{% endblock %}
{% block header_link %}#{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-xs-12">
       <h3>Энциклопедия</h3>
       <hr>
    </div>
  </div>  
  <div class="row row-content">
    <div class="col-xs-12">
      <div class="row row-content">
        {% for topic in config['topics'] %}
          <div class="col-sm-4">
            <h4>{{ topic['title'] }}</h4>
            <ul class="module_list">
              {% for article in config['articles'] %}
                {% if article['topic']==topic['slug'] %}
                  <li><a href="{{ article['source'] }}">{{ article['title'] }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
